[Unit]
Description=ShoppingCart Backend
Wants=mongod.service
After=mongod.service

[Service]
ExecStart=/usr/bin/npm run start
WorkingDirectory=/opt/shopping-cart/backend
Type=simple
Restart=always
StandardOutput=append:/var/log/shopping-cart-backend.log
StandardError=append:/var/log/shopping-cart-backend.log
User=aelassas
Group=aelassas

[Install]
WantedBy=multi-user.target
