[Unit]
Description=wexCommerce Backend
Wants=wexcommerce.service
After=wexcommerce.service

[Service]
ExecStart=/usr/bin/npm run start
WorkingDirectory=/opt/wexcommerce/backend
Type=simple
Restart=always
StandardOutput=append:/var/log/wexcommerce-backend.log
StandardError=append:/var/log/wexcommerce-backend.log

[Install]
WantedBy=multi-user.target
