[Unit]
Description=wexCommerce admin panel
Wants=wexcommerce.service
After=wexcommerce.service

[Service]
ExecStart=/usr/bin/npm run start
WorkingDirectory=/opt/wexcommerce/admin
Type=simple
Restart=always
StandardOutput=append:/var/log/wexcommerce-admin.log
StandardError=append:/var/log/wexcommerce-admin.log

[Install]
WantedBy=multi-user.target
