[Unit]
Description=wexCommerce Frontend
Wants=mongod.service
After=mongod.service

[Service]
ExecStart=/usr/bin/npm run start
WorkingDirectory=/opt/wexcommerce/frontend
Type=simple
Restart=always
StandardOutput=append:/var/log/wexcommerce-frontend.log
StandardError=append:/var/log/wexcommerce-frontend.log
User=aelassas
Group=aelassas

[Install]
WantedBy=multi-user.target
