/**/.git
/**/node_modules
/**/dist
/**/logs
/**/.next
/**/next-env.d.ts
/**/tsconfig.tsbuildinfo
/**/.env
/**/.env.example
/**/.env.production
/**/.dockerignore
/**/Dockerfile
mobile/
.github/
.vscode/
__config/
__scripts/
__services/
