.arrow,
.arrow:hover {
  background-color: rgba(0, 0, 0, .085);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  border-radius: 38px;
}

.arrow:hover {
  background-color: rgba(0, 0, 0, .275);
}

.icon {
  color: #fff;
  font-size: 27px !important;
}
