div.footer {
  background-color: #fff;
  border-top: 1px solid #ddd;
}

div.footer div.payment {
  width: auto;
  height: 58px;
}

div.footer img.payment {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

div.footer div.main div.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div.footer div.mainSection {
  flex: 1 1 0%;
  font-size: 0.875rem;
}

div.footer div.mainSection div.title {
  text-align: left;
  margin-bottom: 10px;
  font-weight: bold;
}

div.footer ul.links {
  margin: 0;
  padding: 0;
}

div.footer ul.links li {
  list-style: none;
  cursor: pointer;
  margin: 10px 0;
  width: fit-content;
}

div.footer ul.links li:hover {
  /* opacity: 0.85; */
  text-decoration: underline;
}

div.footer div.main div.content div.info {
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
}

div.footer div.main div.content div.info div.phone {
  margin-top: 20px;
}

.icon {
  font-size: 15px !important;
  margin-right: 2px;
  margin-bottom: -2px;
}

div.footer div.main div.copyright {
  width: 100%;
  margin-top: 20px;
  padding-top: 5px;
  font-size: 0.75rem;
  border-top: 1px solid #ddd;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media only screen and (width <=960px) {
  div.footer div.main {
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 25px;
    padding-bottom: 130px;
  }

  div.footer div.main div.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  div.footer div.mainSection {
    margin-bottom: 100px;
  }

  div.footer div.main div.copyright {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  div.footer div.main div.copyright>span {
    margin-bottom: 20px;
  }

  div.footer div.payment {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 10px;
  }
}

@media only screen and (width >=960px) {
  div.footer div.main {
    max-width: 1184px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 130px;
    margin-top: 25px;
  }
}

@media only screen and (width >=960px) and (width <=1184px) {
  div.footer div.main div.content {
    margin-right: 15px;
  }

  div.footer div.main div.copyright {
    padding-left: 15px;
  }
}
