div.orders {
  flex: 1;
}

@media only screen and (width <=960px) {
  div.main {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 5px;
  }

  div.leftPanel {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  div.leftPanel .paymentTypeFilter,
  div.leftPanel .statusFilter,
  div.leftPanel .deliveryTypeFilter,
  div.leftPanel .dateFilter {
    margin-bottom: 10px;
    max-width: 650px;
    width: 100%;
  }
}

@media only screen and (width >=960px) {
  div.main {
    max-width: 1184px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 30px;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    flex: 1;
  }

  div.leftPanel {
    width: 275px;
  }

  div.leftPanel .paymentTypeFilter,
  div.leftPanel .statusFilter,
  div.leftPanel .deliveryTypeFilter {
    margin-bottom: 20px;
  }

  div.orders {
    margin-left: 15px;
  }
}
