@media only screen and (width <=960px) {
  article.product {
    flex: 1 0 100%;
    max-width: calc(100% - 20px);
    height: 300px;
    margin: 10px;
    background-color: #fff;
    padding: 6px;
  }

  article.product span.name {
    text-align: center;
    padding: 5px;
  }
}

@media only screen and (width >=960px) {
  article.product {
    width: 240px;
    height: 300px;
    margin: 15px;
    background-color: #fff;
    padding: 6px;
  }

  article.products {
    width: 100%;
  }
}

article.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

article.product a {
  color: #030303;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

article.product a:hover {
  text-decoration: none;
}

article.product {
  border-radius: 10px;
}

article.product div.actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

article.product div.actions .button {
  width: 36px;
  height: 36px;
  margin-left: 10px;
}

article.product div.actions .buttonIcon {
  width: 22px;
}

article.product div.actions .button:hover {
  opacity: 0.8;
}

article.product div.actions .removeButton {
  width: 100%;
}

article.product div.thumbnail {
  height: 160px;
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

article.product img.thumbnail {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

article.product span.name {
  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  white-space: normal;
  text-align: center;
  font-weight: 300;
}

article.product span.price {
  display: flex;
  justify-content: center;
  font-weight: bold;
}

article.product div.label {
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size: 12px;
  padding: 2px 10px;
  margin: 2px 0;
  margin-right: auto;
  margin-left: auto;
  width: fit-content;
  min-width: 144px;
}

article.product div.label .labelIcon {
  font-size: 15px;
  margin-right: 5px;
}

article.product div.soldOut {
  background-color: #e33b2f;
}

article.product div.hidden {
  background-color: #c2c2c2;
}
