@media only screen and (width <=960px) {
  article.product span.name {
    text-align: center;
    padding: 5px;
  }
}

div.products {
  flex: 1;
  height: fit-content;
}

div.productList {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.emptyList {
  text-align: center;
  width: 250px;
  margin-left: calc(50% - 125px);
}
