@media only screen and (max-width: 960px) {

    .newCategory {
        width: calc(100% - 20px);
        margin: 10px !important;
    }

    .categoryList {
        padding: 0 10px;
    }
}

@media only screen and (min-width: 960px) {
    .leftColumn {
        width: 300px;
    }

    .newCategory {
        width: calc(100% - 20px);
        margin-top: 15px !important;
        margin-left: 15px !important;
    }

    .categories {
        width: 100%;
    }
}

.emptyList {
    margin-top: 15px;
    text-align: center;
    width: 250px;
    margin-left: calc(50% - 125px);
}

.categoryList {
    padding-top: 10px;
    width: 100%;
}

.categoryList article {
    position: relative;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #333;
    font-size: 12px;
    padding: 25px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.categoryList article .categoryItem {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.categoryList article .categoryItem .categoryIcon {
    margin-right: 20px;
    color: #030303;
}

.categoryList article .categoryActions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-width: 960px) {
    .categoryList article {
        width: 550px;
        margin-left: calc(50% - 275px);
    }

    .categoryList article .categoryItem {
        width: 370px;
    }
}
