/* Header */

.header {
    position: sticky;
    top: 0;
    z-index: 101;
}

.headerAction {
    margin-right: 20px;
}

.headerDesktop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.headerLogo {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 120px;
}

.headerMobile {
    display: none;
}

a.logo {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 132px;
}

img.logo {
    max-width: 100%;
    max-height: 100%;
}

.btnSignin {
    width: 75px;
}

.iconButton {
    color: #121212 !important;
    margin-right: 0 !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.icon {
    font-size: 28px !important;
}

.button {
    color: #121212 !important;
    background-color: #fff !important;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    margin: 0 20px;
}

.searchContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.search {
    position: relative;
    border-radius: 2px;
    background-color: #fff;
    margin-right: 2px;
    margin-left: 0;
    width: 50%;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: row;
}

.searchIcon {
    padding: 8px 14px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #525252;
    background-color: #f8f8f8;
    border-left: 1px solid #ccc;
    font-weight: 100;
}

.searchIcon:hover {
    background-color: #f0f0f0;
}

@media only screen and (max-width: 960px) {
    .searchIcon {
        padding: 8px 4px;
    }
}

.clearIcon {
    padding: 8px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #525252;
}

.searchInput {
    position: relative;
    width: 100%;
}

.searchInput .searchPlaceholder {
    position: absolute;
    top: 7px;
    left: 7px;
    pointer-events: none;
}

.searchInput .searchPlaceholder span {
    color: #727272;
}

.inputRoot {
    color: inherit;
    width: 100%;
}

.inputInput {
    padding: 7px !important;
    color: #121212 !important;
}

@media only screen and (max-width: 960px) {

    .searchContainer {
        justify-content: flex-end;
    }

    .search {
        border: none;
        width: auto;
    }

    .mobileSearch {
        width: 100%;
    }

    .searchInput {
        display: none;
    }

    .mobileSearchInput {
        display: block;
        border-bottom: 2px solid #121212;
    }

    .searchIcon,
    .searchIcon:hover,
    .clearIcon {
        border: none;
        background-color: #fff;
        color: #525252;
    }

    .mobileSearchIcon {
        color: #525252;
    }

    .backIcon {
        color: #525252;
        margin-right: 7px;
    }
}

@media only screen and (min-width: 960px) {
    .signin {
        color: #121212;
        text-decoration: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 10px;
    }

    .signin span {
        white-space: nowrap;
    }

    .signin .signinIcon {
        margin-right: 7px;
    }
}

@media only screen and (max-width: 960px) {

    .headerDesktop {
        display: none;
    }

    .headerMobile {
        display: flex;
        margin-right: -13px;
    }
}

.menu {
    list-style: none;
    margin: 0;
    padding: 8px 0;
    width: 250px;
}

.menu li {
    padding: 8px 0 8px 16px;
}

.menuItem {
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px 0;
}

.menuItem:hover {
    background-color: #f5f5f5;
}

.menuItem .menuItemIcon,
.menuItem .menuItemText {
    color: #121212;
}

.menuItem .menuItemIcon {
    margin-right: 30px;
}