@media only screen and (max-width: 960px) {
    div.main {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin-top: 5px;
    }

    div.leftPanel {
        margin: 0 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    div.leftPanel .paymentTypeFilter,
    div.leftPanel .statusFilter,
    div.leftPanel .deliveryTypeFilter,
    div.leftPanel .dateFilter {
        margin-bottom: 10px;
        max-width: 650px;
        width: 100%;
    }

    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media only screen and (min-width: 960px) {

    div.main {
        max-width: 1184px;
        margin-right: auto;
        margin-left: auto;
        padding-bottom: 30px;
        margin-top: 15px;
        display: flex;
        flex-direction: row;
        flex: 1;
    }

    div.leftPanel {
        width: 275px;
    }

    div.leftPanel .paymentTypeFilter,
    div.leftPanel .statusFilter,
    div.leftPanel .deliveryTypeFilter {
        margin-bottom: 20px;
    }

    div.orders {
        margin-left: 15px;
    }

    .footer {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
}

.emptyList {
    margin-top: 15px;
    text-align: center;
    width: 250px;
    margin-left: calc(50% - 125px);
}

div.orders {
    flex: 1;
    height: fit-content;
}

div.orderList {
    flex: 1;
    display: flex;
    flex-direction: column;
}

div.orderList article {
    position: relative;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #333;
    font-size: 12px;
    padding: 25px;
    margin-bottom: 15px;
    width: calc(100% - 20px);
    max-width: 650px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.orderList article div.order{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.orderList article div.orderContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

div.orderList article div.orderContent div.orderInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 7px;
}

div.orderList article div.orderContent div.orderInfo span.orderLabel {
    font-weight: bold;
    margin-right: 15px;
    min-width: 120px;
}

div.orderList article div.orderContent div.orderItems {
    /* background-color: #fafafa;
    border-top: #eaeaea 1px solid;
    border-right: #eaeaea 1px solid;
    border-left: #eaeaea 1px solid; */
    flex: 1;
}

div.orderList article div.orderContent div.orderItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border-bottom: #eaeaea 1px solid; */
    padding: 7px 0;
}

div.orderList article div.orderContent div.orderItem div.orderItemInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 7px;
}

div.orderList article div.orderContent div.orderItem div.orderItemInfo span.orderItemLabel {
    font-weight: bold;
    margin-right: 10px;
    min-width: 50px;
}

div.orderList article div.orderContent div.orderItem div.orderItemInfo .orderItemText {
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    white-space: normal;
}

div.orderList article div.orderActions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.footer {
    height: 54px;
    padding: 5px 10px 5px 0;
    margin: 3px 0 0 0;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.footer .pager {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer .pager .rowCount {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 7px;
}

.footer .pager .actions {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer .pager .actions a {
    text-decoration: none;
    color: #030303;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}

.footer .pager .actions a:hover {
    color: #131313 !important;
}

.footer .pager .actions {
    font-size: 18px;
}

a.disabled,
a.disabled:hover {
    pointer-events: none;
    cursor: default;
    color: #939393 !important;
}