@media only screen and (max-width: 960px) {
    div.notifications {
        position: absolute;
        top: 55px;
        right: 0;
        left: 0;
        bottom: 0;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


@media only screen and (min-width: 960px) {
    div.notifications {
        position: absolute;
        top: 65px;
        right: 0;
        left: 0;
        bottom: 0;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

div.notifications .noMatch {
    align-self: flex-start;
    margin-top: 0 !important;
}

div.notifications .emptyList {
    width: 100%;
    max-width: 380px;
    margin-top: 10px;
    text-align: center;
}

div.notifications div.headerContainer {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 54px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0;
}

div.notifications div.headerContainer div.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    border-bottom: 1px solid #ddd;
}

div.notifications div.notificationList {
    position: absolute;
    top: 55px;
    right: 0;
    bottom: 55px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 15px;
    padding-right: 10px;
    overflow-y: overlay;
}

div.notifications div.notificationList div.notificationContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 800px;
}

div.notifications div.notificationList div.notificationContainer div.notificationCheckbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.notifications div.notificationList div.notificationContainer div.notification {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #333;
    margin-bottom: 10px;
    min-height: 75px;
    word-break: break-word;
    padding: 10px;
    font-size: 15px;
    width: 100%;
}

div.notifications div.notificationList div.notificationContainer .unread {
    font-weight: bold;
}

div.notifications div.notificationList div.notificationContainer div.notification div.date {
    color: #878787;
    margin-bottom: 5px;
}

div.notifications div.notificationList div.notificationContainer div.notification div.messageContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.notifications div.notificationList div.notificationContainer div.notification div.messageContainer div.actions {
    display: flex;
    flex-direction: row;
    margin-left: 5px;
}


.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 54px;
    border-top: 1px solid #ddd;
    padding: 5px 10px 5px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.footer .pager {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer .pager .rowCount {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 7px;
}

.footer .pager .actions {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer .pager .actions a {
    text-decoration: none;
    color: #030303;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}

.footer .pager .actions a:hover {
    color: #131313 !important;
}

.footer .pager .actions {
    font-size: 18px;
}

a.disabled,
a.disabled:hover {
    pointer-events: none;
    cursor: default;
    color: #939393 !important;
}