@media only screen and (max-width: 960px) {
    div.settings .form {
        margin: 45px 0 20px calc(50% - 175px);
        width: 350px;
        padding: 30px;
    }
}


@media only screen and (min-width: 960px) {
    div.settings .form {
        margin: 45px 0 20px calc(50% - 275px);
        width: 550px;
        padding: 30px;
    }
}

div.settings {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 45px;
}

div.settings .priceLabel {
    margin-right: 5px;
    color: rgba(0, 0, 0, 0.55);
    font-size: 13px;
}

div.settings .priceInput{
    width: 64px;
}

div.settings .paymentType {
    height: 25px;
}

div.settings .form .formTitle {
    text-align: center;
    text-transform: none;
    color: #1d1d1b;
    text-transform: capitalize;
}