@media only screen and (max-width: 960px) {
    .form {
        margin-top: 45px !important;
        margin-left: calc(50% - 180px) !important;
        margin-bottom: 45px !important;
        width: 360px;
        padding: 30px;
    }
}


@media only screen and (min-width: 960px) {
    .form {
        margin-top: 45px !important;
        margin-left: calc(50% - 275px) !important;
        margin-bottom: 45px !important;
        width: 550px;
        padding: 30px;
    }
}

.formTitle {
    text-align: center;
    text-transform: none;
    color: #121212;
}