.emptyList {
  margin-top: 15px;
  text-align: center;
  width: 250px;
  margin-left: calc(50% - 125px);
}

.categoryList {
  padding-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categoryList article {
  position: relative;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #333;
  font-size: 12px;
  padding: 25px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.categoryList article .categoryItem {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.categoryList article .categoryItem div.categoryImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 50px;
  margin-right: 20px;
}

.categoryList article .categoryItem img.categoryImage {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.categoryList article .categoryItem .categoryIcon {
  color: #030303;
  width: 32px;
}

.categoryList article .categoryActions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media only screen and (width <=960px) {
  .categoryList {
    padding: 0 10px;
  }

  .categoryList article {
    width: calc(100% - 20px);
  }
}

@media only screen and (width >=960px) {
  .categories {
    width: 100%;
  }

  .categoryList article {
    width: 550px;
  }

  .categoryList article .categoryItem {
    width: 370px;
  }
}
