div.notifications {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.noMatch {
  align-self: flex-start;
  margin-top: 0 !important;
}

.emptyList {
  width: 100%;
  max-width: 380px;
  margin-top: 10px;
  text-align: center;
}

div.notifications div.headerContainer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 54px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 0;
}

div.notifications div.headerContainer div.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
  border-bottom: 1px solid #ddd;
}

div.notifications div.notificationList {
  position: absolute;
  top: 55px;
  right: 0;
  bottom: 65px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 15px;
  padding-right: 10px;
  overflow-y: overlay;
}

div.notifications div.notificationList div.notificationContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 800px;
}

div.notifications div.notificationList div.notificationContainer div.notificationCheckbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.notifications div.notificationList div.notificationContainer div.notification {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #333;
  margin-bottom: 10px;
  min-height: 75px;
  word-break: break-word;
  padding: 10px;
  font-size: 15px;
  width: 100%;
}

div.notifications div.notificationList div.notificationContainer .unread {
  font-weight: bold;
}

div.notifications div.notificationList div.notificationContainer div.notification div.date {
  color: #878787;
  margin-bottom: 5px;
}

div.notifications div.notificationList div.notificationContainer div.notification div.messageContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div.notifications div.notificationList div.notificationContainer div.notification div.messageContainer div.actions {
  display: flex;
  flex-direction: row;
  margin-left: 5px;
}

div.notifications .footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 64px;
  border-top: 1px solid #ddd;
  padding: 5px 10px 5px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

div.notifications .pager {
  background-color: transparent;
}
