div.notifications {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 960px) {
  div.notifications {
    top: 55px;
  }
}


@media only screen and (min-width: 960px) {
  div.notifications {
    top: 65px;
  }
}
