/* Passwprd Reset */

div.resetUserPassword {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 40px;
}

div.resend {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 40px;
}

.resetUserPasswordForm h1,
.resendForm h1 {
	text-align: center;
	color: #121212;
}

.resendFormContent {
	display: flex;
	flex-direction: column;
}

.btnResend {
	margin-top: 15px !important;
}


/* Device width is less than or equal to 960px */

@media only screen and (max-width: 960px) {
	.resetUserPasswordForm {
		margin-top: 40px;
		width: 330px;
		height: 440px;
		padding: 30px;
	}

	.resendForm {
		margin-top: 40px;
		width: 400px;
		height: 320px;
		padding: 30px;
	}
}

/* Device width is greater than or equal to 960px */

@media only screen and (min-width: 960px) {
	.resetUserPasswordForm {
		margin-top: 40px;
		width: 450px;
		height: 390px;
		padding: 30px;
	}

	.resendForm {
		margin-top: 40px;
		width: 450px;
		height: 320px;
		padding: 30px;
	}
}