div.indicator {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

@keyframes spinner {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.spinner {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.38);
  backface-visibility: hidden;
  transform-origin: 0 0;
}

.spinner div {
  position: absolute;
  width: 55px;
  height: 55px;
  border: 5px solid rgb(0 0 0 / 80%);
  border-top-color: transparent;
  border-radius: 50%;
  animation: spinner 1s linear infinite;
  top: 50px;
  left: 50px;
  box-sizing: content-box;
}

.spinnerRolling {
  width: 38px;
  height: 38px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
