@media only screen and (max-width: 960px) {}

@media only screen and (max-width: 550px) {

    .checkoutForm .signIn,
    .checkoutForm .box,
    .checkoutForm .payment,
    .checkoutForm .buttons {
        width: 100%;
    }

    .checkoutForm .signIn {
        flex-direction: column !important;

    }
}

@media only screen and (min-width: 550px) {

    .checkoutForm .signIn,
    .checkoutForm .box,
    .checkoutForm .payment,
    .checkoutForm .buttons {
        width: 550px;
    }
}

@media only screen and (min-width: 960px) {}

.checkoutForm {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkoutForm .signIn {
    background: #fff;
    border: 1px solid #d9d8d9;
    padding: 25px;
    margin-bottom: 15px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.checkoutForm .signIn p {
    margin-right: 10px;
}

.checkoutForm .box {
    background: #fff;
    border: 1px solid #d9d8d9;
    padding: 25px;
    margin-bottom: 15px;
    border-radius: 4px;
    z-index: 0;
}

.checkoutForm .boxInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.checkoutForm .boxInfo label {
    margin-left: 5px;
}

.checkoutForm .boxForm {
    margin-top: 5px;
}

.checkoutForm div.article {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}

.checkoutForm div.article div.thumbnail {
    width: 160px;
    height: 130px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.checkoutForm div.article img.thumbnail {
    max-width: 100%;
    max-height: 100%;
}

.checkoutForm div.article .articleInfo {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.checkoutForm div.article .articleInfo a {
    color: #030303;
    text-decoration: none;
}

.checkoutForm div.article .articleInfo a:hover {
    text-decoration: none;
}

.checkoutForm div.article .articleInfo span.name {
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    white-space: normal;
}

.checkoutForm div.article .articleInfo span.price {
    font-weight: 500;
    align-self: flex-end;
}

.checkoutForm div.article .articleInfo span.quantity {
    color: rgba(0, 0, 0, 0.55);
    font-size: 12px;
    align-self: flex-end;
}

.checkoutForm div.article .articleInfo span.quantityLabel {
    font-weight: 500;
    margin-right: 5px;
}

.checkoutForm span.paymentButton {
    display: flex;
    flex-direction: column;
}

.checkoutForm span.paymentInfo {
    color: rgba(0, 0, 0, 0.55);
    font-size: 13px;
}

.checkoutForm .deliveryRadio label,
.checkoutForm .deliveryRadio [class*="MuiFormControlLabel"] {
    flex: 1;
}

.checkoutForm div.delivery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
}

.checkoutForm div.delivery span.deliveryPrice {
    font-weight: 500;
}

.checkoutForm .boxTotal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.checkoutForm .boxTotal .totalLabel {
    font-weight: 500;
}

.checkoutForm .boxTotal .total {
    font-size: 18px;
    font-weight: bold;
}

.checkoutForm .payment {
    margin-top: 35px;
    margin-bottom: 15px;
    padding: 25px;
    background-color: #e5efe5;
    border: 1px solid #d9d8d9;
    border-radius: 4px;
}

.checkoutForm .payment .cost {
    color: #1c8901;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    width: 100%;
    background: #fff;
    border: 1px solid #1c8901;
    border-radius: 3px;
    margin-top: -45px;
    margin-bottom: 15px;
}

.checkoutForm .payment .cost .securePaymentLabel {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    font-size: 13px;
    font-weight: 600;
}

.checkoutForm .payment .cost .securePaymentLabel label {
    margin-left: 5px;
}

.checkoutForm .payment .cost .securePaymentLabel .securePaymentLock {
    height: 16px;
}

.checkoutForm .payment .cost .securePaymentCost {
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkoutForm .payment .cost .securePaymentCost .costTitle,
.checkoutForm .payment .cost .securePaymentCost .costValue {
    display: table-cell;
    padding: 5px;
}

.checkoutForm .payment div.securePaymentLogo {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.checkoutForm .payment img.securePaymentLogo {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.checkoutForm .payment .paymentInfo,
.checkoutForm .payment .securePaymentInfo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 13px;
    margin-top: 5px;
    color: #1c8901;
}

.checkoutForm .payment .paymentInfo .paymentInfoLabel {
    font-weight: bold;
    width: 32px;
    display: flex;
    justify-content: center;
}

.checkoutForm .payment .paymentInfo .paymentIcon,
.checkoutForm .payment .securePaymentInfo .paymentIcon {
    height: 16px;
}

.checkoutForm .buttons {
    display: inline-block;
}

.checkoutForm .buttons button,
.checkoutForm .buttons a {
    float: right;
}

.checkoutForm .buttons .btnCheckout,
.checkoutForm .buttons .btnCancel {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    border: 0;
    border-radius: 5px;
    color: #fff;
    height: 42px;
    min-width: 75px;
    width: 100%;
    margin: 0;
    white-space: nowrap;
    padding: 5px 32px;
    margin-left: 7px;
}

.checkoutForm .buttons .btnCheckout {
    background: #1d1d1b;
}

.checkoutForm .buttons .btnCancel {
    background: #999;
}